[Unit]
Description=Oxidized Currency Converter Backend API
[Service]
User=www-data
Group=www-data
RuntimeDirectory=rust
WorkingDirectory=/home/aazev/projects/rust/currency_converter
Environment="API_KEY=bqBLjOircb4KDJeIwzppYSmoQ8kssSa3"
Environment="DATABASE_URL=postgresql://cc_owner:fh0xm1@127.0.0.1:5432/currency_converter"
Environment="SOCKET_ADDR=/var/run/rust/currency_converter.sock"
Environment="BIND_ADDRESS=127.0.0.1:8000"
ExecStart=/home/aazev/projects/rust/currency_converter/target/release/currconv_backend -m socket
[Install]
WantedBy=multi-user.target
