[Unit]
Description=Oxidized Currency Converter RabbitMQ Seeder
StartLimitIntervalSec=30
StartLimitBurst=2
[Service]
User=www-data
Group=www-data
RuntimeDirectory=rust
WorkingDirectory=/home/user/deploydir
ExecStart=/home/user/deploydir/target/release/currconv-data-seeder
Restart=always
RuntimeMaxSec=7d
[Install]
WantedBy=multi-user.target
